*{
    
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: "Source Sans Pro", "sans-serif";
}

@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,900");

/* HEADER */

header{
    background-color: white;

}

header .nav{
    background-color: white;
    width: 100%;
    height: 39px;
    border-bottom: 6px solid #1100FF;
    border-radius: 30%;
    display: flex;
    justify-content: space-between;
    position: absolute;
}

 .logo {
    width: 100px;
    height: 35px;
    cursor: pointer;
}

.menu{
    display: flex;
    list-style-type: none;
}

.headermargin {
    width: 90%;
    padding: auto;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}


.menu a {
    font-size: 10px;
    margin: 20px;
    color: #525252;
    text-decoration: none;
}

.nav i {
    display: none;
}

#content {
    display: none;
}


#heroimg {
    background: url("/img/bghero.png");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;

}

.peace{
   position: absolute;
   bottom: 30%;
   right: 46%;
   cursor: pointer;
}

.peace h1 {
    font-size: 40px;
    color: white;
}

.peace p {
    font-size: 60px;
    color: white;
}

.arrowdown{
    width: 13%;
    height: 13%;
    position: absolute; 
    bottom: 16%;
    right: 46%;
}

.arrowdown:hover{
opacity: 50%;
}

.portfolio{
    width: 100%;
    height: 637px;
}

.img1 {
     width: 100%;
     height: 100%;
     border: solid 0.5px blue;
       box-shadow: blue 0px 1px 5px;
       cursor: pointer;
}
.img2 {
    width: 100%;
    height: 100%;
    border: solid 0.5px blue;
      box-shadow: blue 0px 1px 5px;
        cursor: pointer;
}
.img3 {
    width: 100%;
    height: 100%;
    border: solid 0.5px blue;
    box-shadow: blue 0px 1px 5px;
      cursor: pointer;
}
.img4 {
    width: 100%;
    height: 100%;
    border: solid 0.5px blue;
    box-shadow: blue 0px 1px 5px;
      cursor: pointer;
}


.projectscontainer{
    padding: auto;
    margin: auto;
    width: 90%;
}



.container {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


    
    .myportfolio {
        display: grid;
        /* grid-template: repeat(2, 1fr) / repeat(2, 1fr); */
        grid-template-columns: 46% 46%;
        grid-template-rows: 39% 37%;
        gap: 20px 70px;
       
    }
    
   

.buttonnext{
    
    display: grid;
    grid-column: 2/3;

}
.downn{
    grid-column: 2;
    grid-row: 1;
    height: 10vh;
     cursor: pointer;
     z-index: 1;
}

.downn:hover{
    opacity: 50%;
}

#sectionune{
    height: 620px;
}

#sectionune p {
    text-align: center;
    text-transform: uppercase;
}

#sectionune h2 {
    width: 20%;
    overflow: hidden;
    white-space: nowrap;
    animation: tapper 2s steps(100), blink .9s infinite;
    border-right: 1px solid;
    color: #707070;
}

.gotomiddle {
    display: flex;
    justify-content: center;
    align-items: center;
}




.imgdaya {
    background-image: url("/img/daya.gif");
    height: 236px;
    background-repeat: no-repeat;
}
.imgdaya2 {
    background-image: url("/img/daya.gif");
    height: 236px;
    /* transform: rotateY(180deg); */
    background-repeat: no-repeat;
}

#sectiontwo{
    
      height: 236px;
}

.buttoncontainer{
    height: 104px;
    display: grid;
    grid-template-columns: 8fr 1fr 7fr;
    width: 719px;
    margin: auto;
}
.buttoncontainertwo {
    height: 14px;
    display: grid;
    grid-template-columns: 10fr 1fr 7fr;
    width: 719px;
}

.imgwrap{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  
}

.imgdaya, .imgdaya2, .img3, .img4{

    
  position: relative;
  opacity: 0.70;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}


.aboutme p span {
    color: rgb(255, 255, 255);
    font-weight: bold;
}


#me p {
    margin: auto;
    text-align: center;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
}

#me h2{
    width: 10%;
    overflow: hidden;
    white-space: nowrap;
    animation: tapper 2s steps(100),
    blink .9s infinite;
    border-right: 1px solid;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    margin: auto;
   
}

.aboutme{
    background-color: #666;
    height: 236px;
    display: grid;

}

#sectionfour{
    height: 500px;
}

.img3{
    background-image: url(/img/img3.png)
    ;

    background-repeat: no-repeat;
}

.skills{
    display:grid; 
    
}

.competencescontainer{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 100%;
}

a.a1, a.a2, a.a3, a.a4{
        height: 50px;

}
.c1, .c2, .c3, .c4{
    height: 50px;
}

#Competences {
    background-color: white;
    height: 380px;
    display: grid;
    margin: auto;
    text-align: center;
    text-transform: uppercase;
    color: #666;
    
   
}
#Competences h2 {
    width: 14   %;
    overflow: hidden;
    white-space: nowrap;
    animation: tapper 2s steps(100),
        blink .9s infinite;
    border-right: 1px solid;
    color: #666;
    text-align: center;
    text-transform: uppercase;
    margin: auto;

}

#sectionsex{
        height: 500px;
}

.img4{
    background-image: url(/img/img4.png);
    background-repeat: no-repeat;
}

#Contact{
       height: 500px;
}
.formcontainer{
    height: 470px;
    background-color:#707070;
    ;
    ;
    display: grid;
    grid-template-columns: 30% 39.99% 30%;
    grid-template-rows: 5% 90% 5%;
}

.form{
        display: grid;
        grid-column: 2;
        grid-row: 2;
        border: solid 1px #858585;
        background-color: white;
        GRID-TEMPLATE-ROWS: 15% 5% 15% 1% 8% 1% 5% 5% 2% 8% 10% 10% 5% 5% 5%;
        GRID-TEMPLATE-COLUMNS: 5% 10% 10% 10% 10% 10% 10% 10% 10% 10% 5%;
}

.worktogheter{
    display: grid;
    grid-column: 4/10;
    grid-row: 2;
   
}
.worktogheter h2 {
    text-transform: uppercase;
    color: #666;

}


.one{
    display: grid;
    height: 10px;
    grid-column: 2/6;
    align-self: center;
    grid-row: 4;
    background-color: rgb(255, 255, 255);
}

.two {
    display: grid;
    height: 10px;
    grid-column: 7/11;
    align-self: center;
    grid-row: 4;
    background-color: rgb(255, 255, 255);
}
.three{
    display: grid;
    height: 10px;
    grid-column: 2/11;
    align-self: center;
    grid-row: 6;
    background-color: rgb(255, 255, 255);
    }
#four {
        display: grid;
        height: 100%;
        grid-column: 2/11;
        grid-row: 8/12;
        background-color: rgb(255, 255, 255);
    }

    .sendmessage{
        display: grid;
        grid-column: 4/9;
        grid-row: 13;
        background-color: #666;
        color: white;
        align-self: center;
        border: none;
        cursor: pointer;
    }


input {
padding: 5px;
color: #666;
font-size: 7px;
border: 1px solid #666;
outline: none;
}

textarea{
    padding: 5px;
    color: #666;
    font-size: 7px;
    border: 1px solid #666;
    outline: none;
}

.footer{
    height: 30px;
    background-color:#39454B;
    display: grid;
    grid-template-rows: 5% 90% 5%;
    grid-template-columns: 20% 30% 50%;
}

.signature{
    display: grid;
    grid-column: 3;
    grid-row: 2;
    color: #797F83;
    text-transform: uppercase;
    justify-self: end;
}

@keyframes tapper {
    from {
        width: 0ch;
    }
}

@keyframes blink {
    20% {
        border-color: transparent;
    }
}


