@media screen and (max-width:425px)
{
    .menu{
        display: none;
    }
    .nav i {
        display: block;
        cursor: pointer;
    }

     .logo {
         display: flex;
         justify-content: center;
         margin: 0 auto 16px;
         
     }

    body {
        overflow-x: hidden;
    }

    .responav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-image: url(/img/bgburger.png);
        background-repeat: no-repeat;
        background-size: 400px 600px;
        overflow-x: hidden;
        padding-top: 63px;
        transition: 0.7s;
    }

    .responav a {
        display: block;
        padding: 15px 25px;
        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
        color: #ccc;
        
        
    }

    .responav a:hover {
        color: #fff;
        transition: 0.4s;
    }

    .responav .close {
        /* position: absolute; */
        /* top: -20px; */
        /* right: 22px; */
        margin-left: 310px; 
        font-size: 20px;
    }

    .slide a {
        font-size: 16px;
        
    }

    #content {
        display:block;
        padding: 10px;
        transition: margin-left 0.7s;
        overflow: hidden;
        width: 5%;
    }
#heroimg {
    background: url("/img/bghero.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    background-position-x: 30%;

}
.peace {
    position: absolute;
    bottom: 30%;
    right: 16%;
    cursor: pointer;
}
.arrowdown {
    width: 13%;
    height: 13%;
    position: absolute;
    bottom: 16%;
    right: 21%;
}


#sectionune{
  
    
}

#sectionune p {
    font-size: 12px;
    color: #707070;
}


#sectionune h2 {
    width: 22%;
    overflow: hidden;
    white-space: nowrap;
    animation: tapper 2s steps(100), blink .9s infinite;
    border-right: 1px solid;}


.myportfolio {
    display: flex;
    flex-direction: column;    
}

.portfolio {
    width: 100%;
    height: 1088px;
}

.buttonnext {
    display: flex;
    justify-content: center;
    height: 44px;
    margin-top: 10px;
}

.buttoncontainer {
    display: none;
}

.imgwrap {
    padding-top: 328px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

#sectiontwo {
    height: 564px;
}

#me {
    width: auto;
}

.aboutme {
    width: auto;
    /* width: 100%; */
    background-color: #666;
    height: 236px;
    display: grid;
    grid-template-rows: 20% 10% 10% 10% 33% 12%;
}

#me h2 {
    width: 25%;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    margin: 0%;
    grid-row: 2;
    justify-self: center;
}

#me p {
    width: 375px;
    text-align: center;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
     grid-row: 4;
}

.skills {
    display: grid;
    width: 375px;
}

.competencescontainer {
    width: 375px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 100%;
    align-self: center;
}

.buttoncontainertwo {
       display: none;
}

.skills {
    display: grid;
    grid-template-rows: 50% 33% 12%;
}

.skills p{
    font-size: 15px;
}

.competencescontainer {
    FONT-WEIGHT: 500;
    FONT-WEIGHT: 500;
    width: 375px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    align-self: end;
    height: 35px;}

    #Competences h2 {
        width: 31%;}

        .buttonnext {
            display: none;}



            .worktogheter {
                display: grid;
                grid-column: 3/11;
                grid-row: 2;
                justify-self: center;
            }


            .formcontainer {
                height: 470px;
                background-color: #707070;
                display: grid;
                grid-template-columns: 20% 69.99% 20%;
                grid-template-rows: 5% 90% 5%;
            }